.booking_pages {
  width: 100vw;
  .bk_banner_container {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .bk_process_container {
    width: 100vw;
    .bk_process_where {
      position: relative;
      width: 100%;
      .decoration_where {
        width: 100%;
        height: 325px;
        background-color: #f0ece7;
        padding-top: 60px;
        text-align: center;
        h2 {
          // font-size: 48px;
          // font-weight: 800;
          color: #2d5252;
        }
      }
      .bk_where_block_container {
        width: 80%;
        margin: -125px auto 0 auto;
        display: flex;
        justify-content: space-between;
        .bk_where_card {
          position: relative;
          z-index: 2;
          width: 30%;
          height: 550px;
          border-radius: 10px;
          padding: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          h3 {
            // font-size: 28px;
            // font-weight: 800;
            color: #f0ece7;
          }
          p {
            text-align: start;
            color: #f0ece7;
            font-size: 14px;
            font-weight: 600;
          }
          .hover_show {
            opacity: 0;
            font-size: 16px;
            margin: 40px 0;
          }
        }
        .bk_where_card:hover {
          .hover_show {
            opacity: 1;
          }
        }
        .bk_where_card::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: #fa0;
          margin: -40px;
          z-index: -1;
        }
        .bk_where_card:hover::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: #00000020;
          margin: -40px;
          z-index: -1;
        }
      }
      .bk_process_button_container {
        padding: 60px 0;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .bk_process_button {
          border: none;
          background-color: transparent;
          display: flex;
          width: 130px;
          height: 40px;
          font-size: 20px;
          font-weight: 800;
          color: #168d80;
          line-height: 40px;
          justify-content: space-between;
          img {
            display: block;
            width: 40px;
            height: 40px;
          }
        }
        .where_prev {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
    .bk_process_how_many {
      width: 100%;
      position: relative;
      .bk_process_how_many_container {
        padding: 60px 0;
        width: 80%;
        margin: auto;
        .bk_how_icon_container {
          width: 110px;
          img {
            width: 100%;
          }
        }
        .bk_how_content_container {
          padding: 60px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .bk_how_content_txt {
            width: 25%;
            h2 {
              font-size: 48px;
              font-weight: 800;
              color: #2d5252;
            }
            .bk_how_content_choose {
              display: flex;
              .bk_how_content_people {
                padding: 60px 0;
                .ant-radio-group {
                  width: 96px;
                  border-radius: 10px;
                }
                .ant-radio-button-wrapper {
                  text-align: center;
                  height: 50px;
                  line-height: 50px;
                  padding: 0;
                  margin: 0;
                  border: none;
                  display: block;
                  color: #f0ece7;
                  background: #8dccb9;
                  font-size: 20px;
                  font-weight: 600;
                }
                .ant-radio-button-wrapper:hover {
                  background-color: #4d8084;
                }
                .ant-radio-button-wrapper::before {
                  opacity: 0;
                }
                .ant-radio-button-wrapper:first-child {
                  border-radius: 10px 10px 0 0;
                }
                .ant-radio-button-wrapper:last-child {
                  border-radius: 0 0 10px 10px;
                }
                .ant-radio-group-solid
                  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                  background: #4d8084;
                }
              }
              .bk_how_content_campsite {
                padding: 60px 40px;
                .ant-radio-group {
                  width: 96px;
                  border-radius: 10px;
                }
                .ant-radio-button-wrapper {
                  text-align: center;
                  height: 50px;
                  line-height: 50px;
                  padding: 0;
                  margin: 0;
                  border: none;
                  display: block;
                  color: #f0ece7;
                  background: #8dccb9;
                  font-size: 20px;
                  font-weight: 600;
                }
                .ant-radio-button-wrapper:hover {
                  background-color: #4d8084;
                }
                .ant-radio-button-wrapper::before {
                  opacity: 0;
                }
                .ant-radio-button-wrapper:first-child {
                  border-radius: 10px 10px 0 0;
                }
                .ant-radio-button-wrapper:last-child {
                  border-radius: 0 0 10px 10px;
                }
                .ant-radio-group-solid
                  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                  background: #4d8084;
                }
              }
            }
          }
        }
      }
      .bk_process_button_container {
        padding: 60px 0;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .bk_process_button {
          border: none;
          background-color: transparent;
          display: flex;
          width: 130px;
          height: 40px;
          font-size: 20px;
          font-weight: 800;
          color: #168d80;
          line-height: 40px;
          justify-content: space-between;
          img {
            display: block;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    .bk_process_how_many::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #fff;
      z-index: -1;
    }
    .bk_process_how_many::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #f0ece7;
      z-index: -1;
    }
  }
}
