.booking_pages {
  width: 100%;
  .bk_banner_container {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .bk_process_button_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    .bk_process_button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      display: flex;
      width: 140px;
      height: 40px;
      font-size: 20px;
      font-weight: 800;
      color: #168d80;
      line-height: 40px;
      justify-content: space-between;
      img {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }
  .bk_process_container {
    width: 100%;
    .bk_process_where {
      padding: 60px 0;
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      h2 {
        color: #2d5252;
      }
      .bk_where_block_container {
        padding: 60px 0;
        width: 80%;
        max-width: 1296px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        .bk_where_card {
          overflow: hidden;
          position: relative;
          z-index: 2;
          width: 30%;
          max-width: 300px;
          min-height: 420px;
          border-radius: 10px;
          padding: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          transition: all 0.3s ease-out;
          h3 {
            color: #fff;
            margin-bottom: 20px;
          }
          p {
            text-align: start;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
          }
          .hover_show {
            opacity: 0;
            font-size: 16px;
            margin: 20px 0;
            transition: all 0.3s ease-out;
          }
        }
        .onPick {
          border: 5px solid #bc6c61;
          border-radius: 15px;
          transform: scale(1.1);
          transition: all 0.5s ease-out;
        }
        .bk_where_card:hover {
          .hover_show {
            opacity: 1;
            transition: all 0.3s ease-out;
          }
        }
        .bk_where_card::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          // background-color: $color-main-yellow;
          border-radius: 10px;
          margin: -40px;
          z-index: -1;
          transition: all 0.3s ease-out;
        }
        .bk_where_card:hover:before {
          transform: scale(1.1);
          transition: all 0.5s ease-out;
        }
        .bk_where_card:hover::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: #00000020;
          margin: -40px;
          z-index: -1;
        }
      }
    }
    .bk_process_where::before {
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 30%;
      background-color: #f0ece7;
      position: absolute;
      text-align: center;
      z-index: -1;
    }
    .bk_process_how_many {
      width: 100%;
      position: relative;
      .bk_process_how_many_container {
        padding: 0px 0;
        width: 80%;
        margin: auto;
        .bk_how_content_container {
          padding: 60px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .bk_how_content_txt {
            width: 25%;
            h2 {
              font-size: 48px;
              font-weight: 800;
              color: #2d5252;
            }
            .bk_how_content_choose {
              display: flex;
              .bk_how_content_people {
                padding: 60px 0;
                .ant-radio-group {
                  width: 96px;
                  border-radius: 10px;
                }
                .ant-radio-button-wrapper {
                  text-align: center;
                  height: 50px;
                  line-height: 50px;
                  padding: 0;
                  margin: 0;
                  border: none;
                  display: block;
                  color: #f0ece7;
                  background: #8dccb9;
                  font-size: 20px;
                  font-weight: 600;
                }
                .ant-radio-button-wrapper:hover {
                  background-color: #4d8084;
                }
                .ant-radio-button-wrapper::before {
                  opacity: 0;
                }
                .ant-radio-button-wrapper:first-child {
                  border-radius: 10px 10px 0 0;
                }
                .ant-radio-button-wrapper:last-child {
                  border-radius: 0 0 10px 10px;
                }
                .ant-radio-group-solid
                  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                  background: #4d8084;
                }
              }
              .bk_how_content_campsite {
                padding: 60px 40px;
                .ant-radio-group {
                  width: 96px;
                  border-radius: 10px;
                }
                .ant-radio-button-wrapper {
                  text-align: center;
                  height: 50px;
                  line-height: 50px;
                  padding: 0;
                  margin: 0;
                  border: none;
                  display: block;
                  color: #fff;
                  background: #8dccb9;
                  font-size: 20px;
                  font-weight: 600;
                }
                .ant-radio-button-wrapper:hover {
                  background-color: #4d8084;
                }
                .ant-radio-button-wrapper::before {
                  opacity: 0;
                }
                .ant-radio-button-wrapper:first-child {
                  border-radius: 10px 10px 0 0;
                }
                .ant-radio-button-wrapper:last-child {
                  border-radius: 0 0 10px 10px;
                }
                .ant-radio-group-solid
                  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                  background: #4d8084;
                }
              }
            }
          }
          .bk_how_content_img {
            display: flex;
            width: 55%;
            height: 65vh;
            justify-content: space-between;
            .bk_how_content_img_two_block {
              width: 49%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .img_two_block {
                width: 100%;
                height: 49%;
                .ant-carousel {
                  height: 100%;
                  .slick-slider {
                    height: 100%;
                    .slick-list {
                      height: 100%;
                      .slick-track {
                        height: 100%;
                        .slick-slide {
                          height: 100%;
                          div {
                            height: 100%;
                            .pic_container {
                              height: 100%;
                              img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .bk_how_content_img_one_block {
              width: 49%;
              height: 100%;
              .ant-carousel {
                height: 100%;
                .slick-slider {
                  height: 100%;
                  .slick-list {
                    height: 100%;
                    .slick-track {
                      height: 100%;
                      .slick-slide {
                        height: 100%;
                        div {
                          height: 100%;
                          .pic_container {
                            height: 100%;
                            img {
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .bk_process_how_many::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #f0ece7;
      z-index: -1;
    }
    .bk_process_when {
      width: 100%;
      position: relative;
      .bk_process_when_container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        .bk_when_container {
          display: flex;
          justify-content: center;
          flex-grow: 1;
          .bk_when_content_container {
            width: 100%;
            padding: 40px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            overflow: hidden;
            h2 {
              padding-bottom: 40px;
              font-size: 48;
              font-weight: 800;
              color: #2d5252;
            }
            .rangeDateShow {
              margin: 120px 0 20px 0;
              p {
                color: #bc6c61;
                font-size: 22px;
                font-weight: 600;
                padding: 20px 0;
              }
            }
            p {
              color: #2d5252;
              font-size: 22px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .bk_process_when::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 60%;
      height: 100%;
      background-color: #f0ece7;
      z-index: -1;
    }
    .bk_process_more_option {
      width: 100%;
      position: relative;
      .bk_process_more_container {
        width: 80%;
        margin: auto;
        padding: 40px 0;
        .bk_more_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 40px 0;
          .bk_more_content_container {
            width: 50%;
            h2 {
              color: #2d5252;
              font-size: 48px;
              font-weight: 800;
            }
            .rangeDateShow {
              padding: 60px 0;
              p {
                color: #bc6c61;
                font-size: 22px;
                font-weight: 600;
              }
            }
            p {
              color: #2d5252;
              font-size: 22px;
              font-weight: 600;
            }
            .btn_confirm {
              margin-top: 60px;
            }
          }
          .bk_more_selector_container {
            width: 50%;
            .ant-space {
              width: 80%;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly;
              display: block;
              margin: auto;
              .ant-space-item {
                display: block;
                padding: 60px 0;
                .ant-select {
                  display: block;
                  .ant-select-selector {
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid $color-aid-green1;
                    font-size: 22px;
                    font-weight: 600;
                    color: $color-str-hov-green;
                  }
                }
              }
            }
          }
        }
      }
    }
    .bk_process_more_option::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: #f0ece7;
      z-index: -1;
    }
    .bk_process_confirm {
      width: 100%;
      position: relative;
      background-color: transparent;
      .bk_process_confirm_container {
        padding: 60px 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        h2 {
          color: #2d5252;
          font-size: 48px;
          font-weight: 800;
        }
        .bk_confirm_cards_container {
          flex-grow: 1;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 60px 0;
          .bk_confirm_card_container {
            position: relative;
            height: 100%;
            padding: 40px 10px;
            width: 23%;
            background-color: transparent;
            max-width: 300px;
            height: 550px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            h4 {
              color: $color-basic-White;
              font-style: 30px;
              font-weight: 600;
            }
            .middle_content {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              p {
                color: $color-basic-White;
                font-weight: 800;
                line-height: 80px;
              }
              .where {
                font-size: 50px;
              }
              .how_many {
                font-size: 50px;
              }
              .which_type {
                font-size: 30px;
              }
              .act {
                font-size: 30px;
              }
              .equ {
                font-size: 30px;
              }
              .meal {
                font-size: 30px;
              }
              .bigMonth {
                font-size: 50px !important;
                font-weight: 800 !important;
              }
              .bigDate {
                font-size: 100px !important;
                font-weight: 800 !important;
              }
            }

            .btn_booking_min {
              width: 60%;
            }
          }
        }
        .bk_confirm_payment_container {
          width: 100%;
          background-color: #f0ece7;
          padding: 40px;
          margin-bottom: -60px;
          display: flex;
          justify-content: space-between;
          p {
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 600;
          }
          .bk_payment_show {
            display: flex;
            p {
              padding-right: 20px;
            }
          }
        }
      }
    }
    @include lg() {
      width: 100%;
    }
    @include tb() {
      width: 100%;
      .bk_process_where {
        h2 {
          font-size: 28px;
        }
        .bk_where_block_container {
          padding: 40px 0;
          flex-wrap: wrap;

          .bk_where_card {
            width: 100%;
            height: 450px;
            margin: 20px;
            h3 {
              margin-bottom: 20px;
            }
            p {
              text-align: start;
              color: #fff;
              font-size: 14px;
              font-weight: 600;
            }
            .hover_show {
              opacity: 1;
              font-size: 14px;
              margin: 20px 0;
              transition: all 0.3s ease-out;
            }
          }
          .onPick {
            border: 5px solid #bc6c61;
            border-radius: 15px;
            transform: scale(1.1);
            transition: all 0.5s ease-out;
          }
          .bk_where_card:hover {
            .hover_show {
              opacity: 1;
              transition: all 0.3s ease-out;
            }
          }
          .bk_where_card::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            // background-color: $color-main-yellow;
            border-radius: 10px;
            margin: -40px;
            z-index: -1;
            transition: all 0.3s ease-out;
          }
        }
      }
      .bk_process_how_many {
        width: 100%;
        position: relative;
        .bk_process_how_many_container {
          padding: 60px 0;
          width: 80%;
          margin: auto;
          .bk_how_content_container {
            padding: 60px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .bk_how_content_txt {
              width: 100%;
              h2 {
                font-size: 28px;
                font-weight: 800;
              }
              .bk_how_content_choose {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                .bk_how_content_people {
                  padding: 20px 0px;
                  .ant-radio-group {
                    width: 96px;
                    border-radius: 10px;
                  }
                  .ant-radio-button-wrapper {
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    padding: 0;
                    margin: 0;
                    border: none;
                    display: block;
                    color: #f0ece7;
                    background: #8dccb9;
                    font-size: 20px;
                    font-weight: 600;
                  }
                  .ant-radio-button-wrapper:hover {
                    background-color: #4d8084;
                  }
                  .ant-radio-button-wrapper::before {
                    opacity: 0;
                  }
                  .ant-radio-button-wrapper:first-child {
                    border-radius: 10px 10px 0 0;
                  }
                  .ant-radio-button-wrapper:last-child {
                    border-radius: 0 0 10px 10px;
                  }
                  .ant-radio-group-solid
                    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                    background: #4d8084;
                  }
                }
                .bk_how_content_campsite {
                  padding: 20px 0px;
                  .ant-radio-group {
                    width: 96px;
                    border-radius: 10px;
                  }
                  .ant-radio-button-wrapper {
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    padding: 0;
                    margin: 0;
                    border: none;
                    display: block;
                    color: #fff;
                    background: #8dccb9;
                    font-size: 20px;
                    font-weight: 600;
                  }
                  .ant-radio-button-wrapper:hover {
                    background-color: #4d8084;
                  }
                  .ant-radio-button-wrapper::before {
                    opacity: 0;
                  }
                  .ant-radio-button-wrapper:first-child {
                    border-radius: 10px 10px 0 0;
                  }
                  .ant-radio-button-wrapper:last-child {
                    border-radius: 0 0 10px 10px;
                  }
                  .ant-radio-group-solid
                    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                    background: #4d8084;
                  }
                }
              }
            }
            .bk_how_content_img {
              display: flex;
              width: 100%;
              height: 45vh;
              justify-content: space-between;
              flex-direction: column;
              align-content: space-between;
              .bk_how_content_img_two_block {
                width: 100%;
                height: 49%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .img_two_block {
                  width: 49%;
                  height: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
              .bk_how_content_img_one_block {
                width: 100%;
                height: 49%;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
      .bk_process_how_many::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 50%;
        background-color: #f0ece7;
        z-index: -1;
      }
      .bk_process_when {
        width: 100%;
        position: relative;
        .bk_process_when_container {
          display: flex;
          flex-direction: column;
          width: 80%;
          padding: 40px 0;
          margin: 0 auto;
          .bk_when_container {
            display: flex;
            flex-direction: column;
            .bk_when_content_container {
              width: 100%;
              padding: 20px 0;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              h2 {
                font-size: 28px;
                font-weight: 800;
              }
              .rangeDateShow {
                padding: 20px 0;
                p {
                  color: #bc6c61;
                  font-size: 22px;
                  font-weight: 600;
                }
              }
              p {
                color: #2d5252;
                font-size: 22px;
                font-weight: 600;
              }
              .btn_confirm {
                margin-top: 20px;
              }
            }
          }
        }
      }
      .bk_process_when::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 50%;
        background-color: #f0ece7;
        z-index: -1;
      }
      .bk_process_more_option {
        width: 100%;
        position: relative;
        .bk_process_more_container {
          width: 80%;
          margin: auto;
          padding: 40px 0;
          .bk_more_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 60px 0;
            .bk_more_content_container {
              width: 100%;
              h2 {
                font-size: 28px;
                font-weight: 800;
                height: 320px;
              }
              .rangeDateShow {
                padding: 20px 0;
                p {
                  color: #bc6c61;
                  font-size: 20px;
                  font-weight: 600;
                }
              }
              p {
                color: #2d5252;
                font-size: 20px;
                font-weight: 600;
              }
              .btn_confirm {
                margin-top: 40px;
              }
            }
            .bk_more_selector_container {
              width: 100%;
              position: absolute;
              bottom: 400px;

              .ant-space {
                .ant-space-item {
                  padding: 20px 0;
                }
              }
            }
          }
        }
      }
      .bk_process_more_option::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 60%;
        background-color: #f0ece7;
        z-index: -1;
      }
      .bk_process_confirm {
        width: 100%;
        position: relative;
        background-color: transparent;
        .bk_process_confirm_container {
          padding: 40px 0;
          width: 80%;
          display: flex;
          flex-direction: column;
          margin: auto;
          text-align: center;
          h2 {
            font-size: 28px;
            font-weight: 800;
          }
          .bk_confirm_cards_container {
            flex-grow: 1;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 40px 0;
            .bk_confirm_card_container {
              margin: 20px 0;
              width: 100%;
              min-width: 300px;
              height: 400px;
              display: flex;
              flex-direction: column;

              h4 {
                color: $color-basic-White;
                font-style: 30px;
                font-weight: 600;
              }
              .middle_content {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p {
                  color: $color-basic-White;
                  font-weight: 800;
                  line-height: 80px;
                }
                .where {
                  font-size: 40px;
                }
                .how_many {
                  font-size: 40px;
                }
                .which_type {
                  font-size: 24px;
                }
                .act {
                  font-size: 28px;
                }
                .equ {
                  font-size: 26px;
                }
                .meal {
                  font-size: 26px;
                }
                .bigMonth {
                  font-size: 50px !important;
                  font-weight: 800 !important;
                }
                .bigDate {
                  font-size: 100px !important;
                  font-weight: 800 !important;
                }
              }

              .btn_booking_min {
                width: 60%;
              }
            }
          }
          .bk_confirm_payment_container {
            width: 100%;
            background-color: #f0ece7;
            padding: 40px;
            margin-bottom: -40px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .bk_payment_total_title {
              display: flex;
              align-items: center;
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 20px;
            }
            .bk_payment_show {
              width: 100%;
              display: flex;
              justify-content: space-between;
              p {
                font-size: 16px;
                padding-right: 0px;
              }
            }
          }
        }
      }
    }
    @include md() {
      width: 100%;
      .bk_process_confirm {
        width: 100%;
        position: relative;
        background-color: transparent;
        .bk_process_confirm_container {
          padding: 40px 0;
          width: 80%;
          display: flex;
          flex-direction: column;
          margin: auto;
          text-align: center;
          h2 {
            font-size: 28px;
            font-weight: 800;
          }
          .bk_confirm_cards_container {
            flex-grow: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 40px 0;
            .bk_confirm_card_container {
              margin: 20px 0;
              width: 100%;
              max-width: 300px;
              height: 400px;
              display: flex;
              flex-direction: column;

              h4 {
                color: $color-basic-White;
                font-style: 30px;
                font-weight: 600;
              }
              .middle_content {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p {
                  color: $color-basic-White;
                  font-weight: 800;
                  line-height: 80px;
                }
                .where {
                  font-size: 40px;
                }
                .how_many {
                  font-size: 40px;
                }
                .which_type {
                  font-size: 24px;
                }
                .act {
                  font-size: 28px;
                }
                .equ {
                  font-size: 26px;
                }
                .meal {
                  font-size: 26px;
                }
                .bigMonth {
                  font-size: 50px !important;
                  font-weight: 800 !important;
                }
                .bigDate {
                  font-size: 100px !important;
                  font-weight: 800 !important;
                }
              }

              .btn_booking_min {
                width: 60%;
              }
            }
          }
          .bk_confirm_payment_container {
            width: 100%;
            background-color: #f0ece7;
            padding: 40px;
            margin-bottom: -40px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .bk_payment_total_title {
              display: flex;
              align-items: center;
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 20px;
            }
            .bk_payment_show {
              display: flex;
              p {
                font-size: 16px;
                padding-right: 0px;
              }
            }
          }
        }
      }
    }
  }
}
