// 桌機版本 --------------------

.shop_section{
  background-color: $color-main-yellow;
  .shop_container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 150px 0;
    box-sizing: border-box;
  }
}
.wrap_cards_product_info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .product_content{
    padding: 1rem;
  }
}
.wrap_cards_product{
  width: 400px;
  overflow: hidden;
  @include tb(){
    width: 300px;
  }
}
.product_list{
  display: flex;
  padding: 1rem 0;
  @include md(){
    h3{
      font-size: 18px;
    }
    h4{
      font-size: 16px;
    }
  }
  .divide_line{
    padding: 0 10px;
    color: gray;
    font-weight: 300;
  }
}
.product_card_item{
  box-shadow: 4px 5px 10px 0px rgb(59 57 57 / 10%);
  margin: 1rem 0.5rem;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  background-color: #fff;
  .product_img_box{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    .details_product_img{
      width: 100%;
    }
    &:hover{
      transform: scale(1.1);
      transition: all 0.5s linear;
    }
  }
}
.product_content{
  @include md(){
    h3{
      font-size: 18px;
    }
    h4{
      font-size: 16px;
    }
  }
}



