//主色
$color-main-yellow: #f5f2e9;
$color-main-green: #4d8084;

//強調色
$color-str-green: #168d80;
$color-str-red: #bc6c61;
//強調色 hover
$color-str-hov-green: #0e685e;
$color-str-hov-red: #9a544b;

//輔助色
$color-aid-green1: #8dccb9;
$color-aid-green2: #44726b;
$color-aid-green3: #1f4f4f;
$color-aid-blue1: #a1c6e8;
$color-aid-blue2: #6989ae;
$color-aid-orange1: #d9b294;
$color-aid-orange2: #b4865f;

//基本色
$color-basic-White: #ffff;
$color-basic-gray1: #8a8a8a;
$color-basic-gray2: #555555;
$color-basic-gray3: #3d3d3d;
$color-basic-gray4: #161616;
