//主色
$color-main-yellow : #F5F2E9;
$color-main-green : #4D8084;

//強調色
$color-str-green: #168D80;
$color-str-red: #BC6C61;
//強調色 hover
$color-str-hov-green: #0E685E;
$color-str-hov-red: #9A544B;

//輔助色
$color-aid-green1: #8DCCB9;
$color-aid-green2: #44726B;
$color-aid-green3: #1F4F4F; 
$color-aid-blue1: #A1C6E8;
$color-aid-blue1: #6989AE;
$color-aid-orange1: #D9B294;
$color-aid-orange2: #B4865F;

//基本色
$color-basic-White: #ffff;
$color-basic-gray1: #8A8A8A;
$color-basic-gray2: #555555;
$color-basic-gray3: #3D3D3D;
$color-basic-gray4: #161616;
