.reservation_camp{
    width: 100%;
    height: 130vh;
    background: url(/src/assets/images/home/home_jungle_cloud.png),
    linear-gradient(to bottom, #abcbe9, $color-main-yellow);
    padding-top: 200px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.reservation_cotainer{
    position: relative;
    z-index: 10;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.home_parallex{
    position: absolute;
    z-index: 2;
    height: 110vh;
    width: 100%;
    top: 0;
    left: 0;
    
    .jungle_bg_img{
        position: absolute;
        object-fit: cover;
        object-position: center;
    }

}
.home_parallex img:nth-child(1){
    width: 100%;
    // height: 100%;
    bottom: -90%;
    left: 0;
    z-index: 11;
}
.home_parallex img:nth-child(2){
    width: 100%;
    height: 100%;
    bottom: -47%;
    left: 0;
    z-index: 8;
}
.home_parallex img:nth-child(3){
    width: 100%;
    height: 100%;
    bottom: -40%;
    left: 0;
    z-index: 7;
}
.home_parallex img:nth-child(4){
    width: 100%;
    height: 100%;
    bottom: -42%;
    left: 0;
    z-index: 6;
}
.search_zone{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_zone_title{
    font-size: 48px;
    color: #1F4F4F;
}
.search_zone_option{
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.option_theme select, 
.option_tent select, 
.option_month select{
    width: 260px;
    height: 70px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #555555;
    box-shadow: 0 0 10px rgba(97, 97, 97,10%);
    background-color: rgba(255, 255, 255, 80%);
}
.btn_search{
    width: 200px;
    height: 70px;    
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #BC6C61;
    border: transparent;
    border-radius: 50px;
}

@media screen and (max-width:769px) {
    .reservation_cotainer{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .search_zone{
        width: 100%;
    }
    .search_zone_title{
        font-size: 36px;
        color: #1F4F4F;
    }
    .search_zone_option{
        width: 100%;
        padding: 30px 0;
    }
    .option_theme select, 
    .option_tent select{
        width: 240px;
        height: 60px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .option_month select{
        width: 480px;
        height: 60px;
        padding: 4px 0;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
    }

}