.featured_products{
    width: 100%;
    background: url(/src/assets/images/home/home_canyon_all.png) #F0ECE7;
    background-size: 100% 100%;
}
.products_cotainer{
    width: 80%;
    margin: auto;
    padding: 150px 0px;
}
.section_title{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}
.content_group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.content_card{
    margin: 1%;
    padding: 2%;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 80%);
}
.content_group p{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
}
.btn_page_link{
    margin: 0 auto;
    margin-top: 50px;
}

@media screen and (max-width:769px) {
    .content_card{
        width: 45%;
        border-radius: 10px;
    }
}