.wrap_News{
    background-color: #44726B;
}
#home_news{
    color: #ffffff;
}
.news_container{
    width: 900px;
    height: 650px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-top: 50px;
    overflow: hidden;
    border-radius: 20px;
    @include tb(){
        width: 600px;
        height: 450px;
    }
    @include md(){
        width: 300px;
        height: 250px;
        border-radius: 10px;
    }
    @include sm(){
        width: 300px;
        height: 250px;
        border-radius: 10px;
    }
}
.news_show_area{
    // width: 3000px;
    height: 600px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    margin: auto;
    transition: left 1s;
    // padding-left: 200px;
    @include tb(){
        display: none;
    }
    @include md(){
        display: none;
    }
    @include sm(){
        display: none;
    }
}
.news_show_area.tb{
    display: none;
    @include tb(){
        height: 400px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;
        margin: auto;
        transition: left 1s;
    }
    @include md(){
        display: none;
    }
    @include sm(){
        display: none;
    }
}
.news_show_area.md{
    display: none;
    @include tb(){
        display: none;
    }
    @include md(){
        height: 200px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;
        margin: auto;
        transition: left 1s;
    }
    @include sm(){
        display: none;
    }
}
.news_show_area.sm{
    display: none;
    @include tb(){
        display: none;
    }
    @include md(){
        display: none;
    }
    @include sm(){
        height: 200px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;
        margin: auto;
        transition: left 1s;
    }
}

.news_box{
    width: 900px;
    height: 600px;
    display:flex;
    // background-color: #f3f6fd;
    // margin-right:-300px;
    // margin-left: -300px;
    margin-bottom: 10px;
    // position: relative;
    overflow: hidden;
    @include tb(){
        width: 600px;
        height: 400px;
    }
    @include md(){
        width: 300px;
        height: 200px;
    }
    @include sm(){
        width: 300px;
        height: 200px;
    }
}
.news_box:hover{
    cursor: pointer;
}
.news_pic{
    width: 900px;
    // height: 100%;
    // overflow: hidden;
    z-index: -0;
    // opacity: 0.5;
    position: absolute;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background-image: linear-gradient(transparent,rgb(0, 0, 0));
        position: absolute;
        z-index: 2;
        @include tb(){
            width: 600px;
        }
        @include md(){
            background-image: linear-gradient(rgb(0, 0, 0),transparent);
            border-radius: 10px;
            width: 300px;
        }
        @include sm(){
            background-image: linear-gradient(rgb(0, 0, 0),transparent);
            width: 300px;
            border-radius: 10px;
        }
    }
    img{
        width: 900px;
        border-radius: 20px;
        // display: block;
        @include tb(){
            width: 600px;
            height: 400px;
        }
        @include md(){
            width: 300px;
            height: 200px;
            border-radius: 10px;
        }
        @include sm(){
            width: 300px;
            height: 200px;
            border-radius: 10px;
        }
    }
}
.news_txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    color: #ffffff;
    z-index: 3;
    @include md{
        justify-content: start;
        overflow: hidden;
    }
    @include sm{
        justify-content: start;
    }
    h3{
        padding: 8px;
        color: #ffffff;
        @include md{
            font-size: 14px;
            line-height: 20px;
            padding: 4px;
        }
        @include sm{
            font-size: 14px;
            line-height: 20px;
            padding: 4px;
        }

    }
    p{  
        width: 100%;
        flex-wrap: wrap;
        padding: 8px;
        @include md{
            font-size: 12px;
            line-height: 20px;
            padding: 4px;
        }
        @include sm{
            font-size: 12px;
            line-height: 20px;
            padding: 4px;
        }
    }
}
.btn_page_link.news_link{
    margin: auto;
}
.btn_spacing{
    padding-bottom: 150px;
}
.slideActive{
    opacity: 1;
    z-index: 1;
}
.slideShow{
    display: flex;
}
// 左右按鈕
.news_container button{
    width: 30px;
    height: 30px;
    z-index: 5;
    border-radius: 50%;
    background-color: #168d80;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-weight: 800;
    position: absolute;
    right: 0;
}
.news_container button:first-child{
    left: 0;
}
.news_container button:hover{
    cursor: pointer;
}
// 下半部按鈕
.news_page_btn_container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.news_page_btn{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin: 20px;
    text-align: center;
}
.news_page_btn.activeBtnStyle{
    background-color: #168d80 ;
}