// .title_master {
//     font-size: 30px;
//     @include m(){
//         font-size: 40px;
//     }
//     @include t(){
//         font-size: 36px;
//     }
//     &::after {

//     }
//     &::before {

//     }
// }
// .title_underline {
//         font-size: 28px;
//         border-bottom: 1px solid #333 ;
// }
.title_main{
    padding: 0 0 50px;
}
.title_main h2{
    padding: 0 10px
}
.title_main::before{
    content: url(/src/assets/images/main_title_left.png);
    width: 50px;
    height: 30px;
    background: center center;
}
.title_main::after{
    content: url(/src/assets/images/main_title_right.png);
    width: 50px;
    height: 30px;
    background: center center;
}