.wrap_news{
    background-color: #fff;
}
.banner{
    width: 100%;
}
.news_v_container{
    padding: 100px 0 100px 0;
    margin-right: 10%;
    margin-left: 10%;
    box-sizing: border-box;
}
.news_v_box{
    width: 100%;
    height: 400px;
    display:flex;
    background-color: #F5F2E9;
    margin:auto;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    @include md(){
        display: none;
        height: auto;
    }
    @include sm(){
        display: none;
        height: auto;
    }
}
.news_v_box.md.sm{
    display: none;
    @include md(){
        display:flex;
        width: 100%;
        flex-direction: column;
        background-color: #F5F2E9;
        margin:auto;
        margin-bottom: 30px;
        border-radius: 10px;
        overflow: hidden;
    }
    @include sm(){
        display:flex;
        width: 100%;
        flex-direction: column;
        background-color: #F5F2E9;
        margin:auto;
        margin-bottom: 30px;
        border-radius: 10px;
        overflow: hidden;
    }
    
}
.news_v_pic{
    width: 60%;
    overflow: hidden;
    position: relative;
    @include md(){
        width: 100%;
        height: 200px;
    }
    @include sm(){
        width: 100%;
        height: 200px;
    }
}
.news_v_pic img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    // width: 100%; 
    height: 400px;
    object-fit: cover;
    @include md(){
        width: 100%;
        height: 200px;
    }
    @include sm(){
        width: 100%;
        height: 200px;
    }
}
.news_v_txt{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    word-wrap: break-word;
    word-break: break-all;
    @include md(){
        width: 100%;
    }
    @include sm(){
        width: 100%;
    }
    h3{
        margin-bottom: 30px;
        @include md(){
            margin-bottom: 20px;
        }
        @include sm(){
            margin-bottom: 20px;
        }
    }
    .news_v_content{
        @include md(){
            margin-bottom: 10px;
        }
        @include sm(){
            margin-bottom: 10px;
        }
    }
}
.news_v_content{
    flex-grow:1 ;
}
.news_v_reverse{
    flex-direction: row-reverse;
}